src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="api-config" api="resource::592da607-3315-458e-be92-2d6a954a2c71:sys-e-counseling:1.0.2:raml:zip:api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="api-main">
        <http:listener config-ref="HTTP_Listener_config" path="/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="api-config" />
    </flow>
    <flow name="put:\getCollegeSeat:application\json:api-config">
		<flow-ref doc:name="invoking getCollegeSeats-put-Sub_Flow" doc:id="cbeeb4cd-baf7-4cfd-894e-aaa313a5db7a" name="getCollegeSeats-put-Sub_Flow"/>
    </flow>
    <flow name="put:\getPerformanceDetails:application\json:api-config">
        <flow-ref doc:name="invoking updateStudentDetailsSub_Flow" doc:id="3ec1af68-a2a9-4ad6-af66-b51c27a59b9c" name="updateStudentDetailsSub_Flow"/>
    </flow>
    <flow name="get:\ping:api-config">
		<flow-ref doc:name="invoking HealthCheck_Sub_Flow" doc:id="e45c9373-7603-4550-9112-3a357b25477b" name="heatthCheckSub_Flow"/>
    </flow>
    <flow name="post:\getCollegeCutoff:application\json:api-config">
		<flow-ref doc:name="invoking getCollegeCutoff-Sub_Flow" doc:id="5ca631b1-4249-41fa-a1fb-4ee898ba1c32" name="getCollegeCutoff-Sub_Flow"/>
    </flow>
    <flow name="post:\getCollegeSeat:application\json:api-config">
		<flow-ref doc:name="invoking getCollegeSeats-post-Sub_Flow" doc:id="cd5ce8e0-f83b-4329-b860-78137fa18a7c" name="getCollegeSeats-post-Sub_Flow"/>
    </flow>
    <flow name="post:\getPerformanceDetails:application\json:api-config">
		<flow-ref doc:name="invoking getStudentPerformance-Sub_Flow" doc:id="594d3469-2dbe-4360-98d2-66cc7fa3c5c4" name="getStudentPerformance-Sub_Flow"/>
    </flow>
</mule>
